/* Fonts */
@font-face {
  font-family: Playball;
  src: url('./assets/fonts/Playball/Playball-Regular.ttf');
}

@font-face {
  font-family: Inter;
  src: url('./assets/fonts/Inter/Inter-Regular.ttf');
}

@font-face {
  font-family: Inter;
  src: url('./assets/fonts/Inter/Inter-Bold.ttf');
  font-weight: bold;
}

/* Shared styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Inter, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}

/* Variables */
:root {
  --main-color: #FFFFFF;
  --main-color-hover: #F0F0F0;
  --secondary-color: #000000;
  --secondary-color-hover: #646464;
  --link-color: #3DA2FF;
  --link-color-hover: #006496;
  --error-color: #E10000;
  --error-color-hover: #aa0202;
  --success-color: #64C864;
  --box-shadow-card: 2px 2px 10px rgba(0, 0, 0, 0.25);
  --box-shadow-bottom: 0px 2px 10px rgba(0, 0, 0, 0.25);
  --box-shadow-top: 0px -2px 4px rgba(0, 0, 0, 0.25);
  --table-border-color: #C4C4C4;
}
